In [2]:
import pandas as pd
import os
import re
import json

In [3]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'data',
 'dodo.py',
 'postgresql-2022-02-20_204738.csv',
 'Query parsing-Copy1.ipynb',
 'Query parsing.ipynb',
 'README.md',
 'requirements.txt',
 'TO Try.ipynb',
 'TODO.md',
 'Untitled.ipynb']

In [4]:
df = pd.read_csv('data/workload.csv', header=None)
df.head()

/mnt/d/Projects/cmu/11637/11637Env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,2022-03-14 20:04:01.628 UTC,NaN,NaN,4508,NaN,622f9fb1.119c,1,NaN,2022-03-14 20:04:01 UTC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,postmaster,NaN,0
1,2022-03-14 20:04:01.628 UTC,NaN,NaN,4508,NaN,622f9fb1.119c,2,NaN,2022-03-14 20:04:01 UTC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,postmaster,NaN,0
2,2022-03-14 20:04:01.628 UTC,NaN,NaN,4508,NaN,622f9fb1.119c,3,NaN,2022-03-14 20:04:01 UTC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,postmaster,NaN,0
3,2022-03-14 20:04:01.634 UTC,NaN,NaN,4508,NaN,622f9fb1.119c,4,NaN,2022-03-14 20:04:01 UTC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,postmaster,NaN,0
4,2022-03-14 20:04:01.648 UTC,NaN,NaN,4510,NaN,622f9fb1.119e,1,NaN,2022-03-14 20:04:01 UTC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,startup,NaN,0

In [5]:
# df = df.drop([0, 1, 2])

In [24]:
queries = df[13].tolist()

In [25]:
len(set(queries))

17115

In [26]:
queries

['ending log output to stderr',
 'starting PostgreSQL 14.2 (Ubuntu 14.2-1.pgdg18.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit',
 'listening on IPv4 address "127.0.0.1", port 5432',
 'listening on Unix socket "/var/run/postgresql/.s.PGSQL.5432"',
 'database system was shut down at 2022-03-14 20:04:01 UTC',
 'database system is ready to accept connections',
 'connection received: host=[local]',
 'connection received: host=[local]',
 'connection authenticated: identity="postgres" method=peer (/etc/postgresql/14/main/pg_hba.conf:90)',
 'connection authorized: user=postgres database=template1 application_name=psql',
 'statement: ',
 'disconnection: session time: 0:00:00.006 user=postgres database=template1 host=[local]',
 'connection received: host=[local]',
 'connection authenticated: identity="postgres" method=peer (/etc/postgresql/14/main/pg_hba.conf:90)',
 'connection authorized: user=postgres database=template1 application_name=psql',
 'statement: ',
 'disconnection: session time: 0:00:00.003 user=postgres database=template1 host=[local]',
 'connection received: host=[local]',
 'connection authenticated: identity="postgres" method=peer (/etc/postgresql/14/main/pg_hba.conf:90)',
 'connection authorized: user=postgres database=template1 application_name=psql',
 'statement: ',
 'disconnection: session time: 0:00:00.003 user=postgres database=template1 host=[local]',
 'connection received: host=[local]',
 'connection authenticated: identity="dhruv" method=peer (/etc/postgresql/14/main/pg_hba.conf:95)',
 'connection authorized: user=dhruv database=dhruv application_name=pg_isready',
 'role "dhruv" does not exist',
 'connection received: host=127.0.0.1 port=58600',
 'connection authenticated: identity="project1user" method=scram-sha-256 (/etc/postgresql/14/main/pg_hba.conf:97)',
 'connection authorized: user=project1user database=project1db SSL enabled (protocol=TLSv1.3, cipher=TLS_AES_256_GCM_SHA384, bits=256)',
 'statement: BEGIN',
 'statement: SET extra_float_digits = 3',
 "statement: SET application_name = 'PostgreSQL JDBC Driver'",
 'statement: COMMIT',
 'statement: select current_schema()',
 "statement: SELECT NULL AS TABLE_CAT, n.nspname AS TABLE_SCHEM, c.relname AS TABLE_NAME,  CASE n.nspname ~ '^pg_' OR n.nspname = 'information_schema'  WHEN true THEN CASE  WHEN n.nspname = 'pg_catalog' OR n.nspname = 'information_schema' THEN CASE c.relkind   WHEN 'r' THEN 'SYSTEM TABLE'   WHEN 'v' THEN 'SYSTEM VIEW'   WHEN 'i' THEN 'SYSTEM INDEX'   ELSE NULL   END  WHEN n.nspname = 'pg_toast' THEN CASE c.relkind   WHEN 'r' THEN 'SYSTEM TOAST TABLE'   WHEN 'i' THEN 'SYSTEM TOAST INDEX'   ELSE NULL   END  ELSE CASE c.relkind   WHEN 'r' THEN 'TEMPORARY TABLE'   WHEN 'p' THEN 'TEMPORARY TABLE'   WHEN 'i' THEN 'TEMPORARY INDEX'   WHEN 'S' THEN 'TEMPORARY SEQUENCE'   WHEN 'v' THEN 'TEMPORARY VIEW'   ELSE NULL   END  END  WHEN false THEN CASE c.relkind  WHEN 'r' THEN 'TABLE'  WHEN 'p' THEN 'PARTITIONED TABLE'  WHEN 'i' THEN 'INDEX'  WHEN 'P' then 'PARTITIONED INDEX'  WHEN 'S' THEN 'SEQUENCE'  WHEN 'v' THEN 'VIEW'  WHEN 'c' THEN 'TYPE'  WHEN 'f' THEN 'FOREIGN TABLE'  WHEN 'm' THEN 'MATERIALIZED VIEW'  ELSE NULL  END  ELSE NULL  END  AS TABLE_TYPE, d.description AS REMARKS,  '' as TYPE_CAT, '' as TYPE_SCHEM, '' as TYPE_NAME, '' AS SELF_REFERENCING_COL_NAME, '' AS REF_GENERATION  FROM pg_catalog.pg_namespace n, pg_catalog.pg_class c  LEFT JOIN pg_catalog.pg_description d ON (c.oid = d.objoid AND d.objsubid = 0  and d.classoid = 'pg_class'::regclass)  WHERE c.relnamespace = n.oid  AND n.nspname LIKE 'public' AND (false  OR ( c.relkind = 'r' AND n.nspname !~ '^pg_' AND n.nspname <> 'information_schema' ) )  ORDER BY TABLE_TYPE,TABLE_SCHEM,TABLE_NAME ",
 "statement: SELECT * FROM (SELECT n.nspname,c.relname,a.attname,a.atttypid,a.attnotnull OR (t.typtype = 'd' AND t.typnotnull) AS attnotnull,a.atttypmod,a.attlen,t.typtypmod,row_number() OVER (PARTITION BY a.attrelid ORDER BY a.attnum) AS attnum, nullif(a.attidentity, '') as attidentity,pg_catalog.pg_get_expr(def.adbin, def.adrelid) AS adsrc,dsc.description,t.typbasetype,t.typtype  FROM pg_catalog.pg_namespace n  JOIN pg_catalog.pg_class c ON (c.relnamespace = n.oid)  JOIN pg_catalog.pg_attribute a ON (a.attrelid=c.oid)  JOIN pg_catalog.pg_type t ON (a.atttypid = t.oid)  LEFT JOIN pg_catalog.pg_attrdef def ON (a.attrelid=def.adrelid AND a.attnum = def.adnum)  LEFT JOIN pg_catalog.pg_description dsc ON (c.oid=dsc.objoid AND a.attnum = dsc.objsubid)  LEFT JOIN pg_catalog.pg_class dc ON (dc.oid=dsc.classoid AND dc.relname='pg_class')  LEFT JOIN pg_catalog.pg_namespace dn ON (dc.relnamespace=dn.oid AND dn.nspname='pg_catalog')  WHERE c.relkind in ('r','p','v','f','m') and a.attnum > 0 AND NOT a.attisdropped  AND n.nspname LIKE 'public' AND c.relname LIKE 'item') c WHERE true  ORDER BY nspname,c.relname,attnum ",
 'statement: SELECT     tmp.TABLE_CAT,     tmp.TABLE_SCHEM,     tmp.TABLE_NAME,     tmp.NON_UNIQUE,     tmp.INDEX_QUALIFIER,     tmp.INDEX_NAME,     tmp.TYPE,     tmp.ORDINAL_POSITION,     trim(both \'"\' from pg_catalog.pg_get_indexdef(tmp.CI_OID, tmp.ORDINAL_POSITION, false)) AS COLUMN_NAME,   CASE tmp.AM_NAME     WHEN \'btree\' THEN CASE tmp.I_INDOPTION[tmp.ORDINAL_POSITION - 1] & 1::smallint       WHEN 1 THEN \'D\'       ELSE \'A\'     END     ELSE NULL   END AS ASC_OR_DESC,     tmp.CARDINALITY,     tmp.PAGES,     tmp.FILTER_CONDITION FROM (SELECT NULL AS TABLE_CAT, n.nspname AS TABLE_SCHEM,   ct.relname AS TABLE_NAME, NOT i.indisunique AS NON_UNIQUE,   NULL AS INDEX_QUALIFIER, ci.relname AS INDEX_NAME,   CASE i.indisclustered     WHEN true THEN 1    ELSE CASE am.amname       WHEN \'hash\' THEN 2      ELSE 3    END   END AS TYPE,   (information_schema._pg_expandarray(i.indkey)).n AS ORDINAL_POSITION,   ci.reltuples AS CARDINALITY,   ci.relpages AS PAGES,   pg_catalog.pg_get_expr(i.indpred, i.indrelid) AS FILTER_CONDITION,   ci.oid AS CI_OID,   i.indoption AS I_INDOPTION,   am.amname AS AM_NAME FROM pg_catalog.pg_class ct   JOIN pg_catalog.pg_namespace n ON (ct.relnamespace = n.oid)   JOIN pg_catalog.pg_index i ON (ct.oid = i.indrelid)   JOIN pg_catalog.pg_class ci ON (ci.oid = i.indexrelid)   JOIN pg_catalog.pg_am am ON (ci.relam = am.oid) WHERE true  AND n.nspname = \'public\' AND ct.relname = \'item\') AS tmp ORDER BY NON_UNIQUE, TYPE, INDEX_NAME, ORDINAL_POSITION ',
 "statement: SELECT * FROM (SELECT n.nspname,c.relname,a.attname,a.atttypid,a.attnotnull OR (t.typtype = 'd' AND t.typnotnull) AS attnotnull,a.atttypmod,a.attlen,t.typtypmod,row_number() OVER (PARTITION BY a.attrelid ORDER BY a.attnum) AS attnum, nullif(a.attidentity, '') as attidentity,pg_catalog.pg_get_expr(def.adbin, def.adrelid) AS adsrc,dsc.description,t.typbasetype,t.typtype  FROM pg_catalog.pg_namespace n  JOIN pg_catalog.pg_class c ON (c.relnamespace = n.oid)  JOIN pg_catalog.pg_attribute a ON (a.attrelid=c.oid)  JOIN pg_catalog.pg_type t ON (a.atttypid = t.oid)  LEFT JOIN pg_catalog.pg_attrdef def ON (a.attrelid=def.adrelid AND a.attnum = def.adnum)  LEFT JOIN pg_catalog.pg_description dsc ON (c.oid=dsc.objoid AND a.attnum = dsc.objsubid)  LEFT JOIN pg_catalog.pg_class dc ON (dc.oid=dsc.classoid AND dc.relname='pg_class')  LEFT JOIN pg_catalog.pg_namespace dn ON (dc.relnamespace=dn.oid AND dn.nspname='pg_catalog')  WHERE c.relkind in ('r','p','v','f','m') and a.attnum > 0 AND NOT a.attisdropped  AND n.nspname LIKE 'public' AND c.relname LIKE 'review') c WHERE true  ORDER BY nspname,c.relname,attnum ",
 'statement: SELECT     tmp.TABLE_CAT,     tmp.TABLE_SCHEM,     tmp.TABLE_NAME,     tmp.NON_UNIQUE,     tmp.INDEX_QUALIFIER,     tmp.INDEX_NAME,     tmp.TYPE,     tmp.ORDINAL_POSITION,     trim(both \'"\' from pg_catalog.pg_get_indexdef(tmp.CI_OID, tmp.ORDINAL_POSITION, false)) AS COLUMN_NAME,   CASE tmp.AM_NAME     WHEN \'btree\' THEN CASE tmp.I_INDOPTION[tmp.ORDINAL_POSITION - 1] & 1::smallint       WHEN 1 THEN \'D\'       ELSE \'A\'     END     ELSE NULL   END AS ASC_OR_DESC,     tmp.CARDINALITY,     tmp.PAGES,     tmp.FILTER_CONDITION FROM (SELECT NULL AS TABLE_CAT, n.nspname AS TABLE_SCHEM,   ct.relname AS TABLE_NAME, NOT i.indisunique AS NON_UNIQUE,   NULL AS INDEX_QUALIFIER, ci.relname AS INDEX_NAME,   CASE i.indisclustered     WHEN true THEN 1    ELSE CASE am.amname       WHEN \'hash\' THEN 2      ELSE 3    END   END AS TYPE,   (information_schema._pg_expandarray(i.indkey)).n AS ORDINAL_POSITION,   ci.reltuples AS CARDINALITY,   ci.relpages AS PAGES,   pg_catalog.pg_get_expr(i.indpred, i.indrelid) AS FILTER_CONDITION,   ci.oid AS CI_OID,   i.indoption AS I_INDOPTION,   am.amname AS AM_NAME FROM pg_catalog.pg_class ct   JOIN pg_catalog.pg_namespace n ON (ct.relnamespace = n.oid)   JOIN pg_catalog.pg_index i ON (ct.oid = i.indrelid)   JOIN pg_catalog.pg_class ci ON (ci.oid = i.indexrelid)   JOIN pg_catalog.pg_am am ON (ci.relam = am.oid) WHERE true  AND n.nspname = \'public\' AND ct.relname = \'review\') AS tmp ORDER BY NON_UNIQUE, TYPE, INDEX_NAME, ORDINAL_POSITION ',
 "statement: SELECT * FROM (SELECT n.nspname,c.relname,a.attname,a.atttypid,a.attnotnull OR (t.typtype = 'd' AND t.typnotnull) AS attnotnull,a.atttypmod,a.attlen,t.typtypmod,row_number() OVER (PARTITION BY a.attrelid ORDER BY a.attnum) AS attnum, nullif(a.attidentity, '') as attidentity,pg_catalog.pg_get_expr(def.adbin, def.adrelid) AS adsrc,dsc.description,t.typbasetype,t.typtype  FROM pg_catalog.pg_namespace n  JOIN pg_catalog.pg_class c ON (c.relnamespace = n.oid)  JOIN pg_catalog.pg_attribute a ON (a.attrelid=c.oid)  JOIN pg_catalog.pg_type t ON (a.atttypid = t.oid)  LEFT JOIN pg_catalog.pg_attrdef def ON (a.attrelid=def.adrelid AND a.attnum = def.adnum)  LEFT JOIN pg_catalog.pg_description dsc ON (c.oid=dsc.objoid AND a.attnum = dsc.objsubid)  LEFT JOIN pg_catalog.pg_class dc ON (dc.oid=dsc.classoid AND dc.relname='pg_class')  LEFT JOIN pg_catalog.pg_namespace dn ON (dc.relnamespace=dn.oid AND dn.nspname='pg_catalog')  WHERE c.relkind in ('r','p','v','f','m') and a.attnum > 0 AND NOT a.attisdropped  AND n.nspname LIKE 'public' AND c.relname LIKE 'review_rating') c WHERE true  ORDER BY nspname,c.relname,attnum ",
 'statement: SELECT     tmp.TABLE_CAT,     tmp.TABLE_SCHEM,     tmp.TABLE_NAME,     tmp.NON_UNIQUE,     tmp.INDEX_QUALIFIER,     tmp.INDEX_NAME,     tmp.TYPE,     tmp.ORDINAL_POSITION,     trim(both \'"\' from pg_catalog.pg_get_indexdef(tmp.CI_OID, tmp.ORDINAL_POSITION, false)) AS COLUMN_NAME,   CASE tmp.AM_NAME     WHEN \'btree\' THEN CASE tmp.I_INDOPTION[tmp.ORDINAL_POSITION - 1] & 1::smallint       WHEN 1 THEN \'D\'       ELSE \'A\'     END     ELSE NULL   END AS ASC_OR_DESC,     tmp.CARDINALITY,     tmp.PAGES,     tmp.FILTER_CONDITION FROM (SELECT NULL AS TABLE_CAT, n.nspname AS TABLE_SCHEM,   ct.relname AS TABLE_NAME, NOT i.indisunique AS NON_UNIQUE,   NULL AS INDEX_QUALIFIER, ci.relname AS INDEX_NAME,   CASE i.indisclustered     WHEN true THEN 1    ELSE CASE am.amname       WHEN \'hash\' THEN 2      ELSE 3    END   END AS TYPE,   (information_schema._pg_expandarray(i.indkey)).n AS ORDINAL_POSITION,   ci.reltuples AS CARDINALITY,   ci.relpages AS PAGES,   pg_catalog.pg_get_expr(i.indpred, i.indrelid) AS FILTER_CONDITION,   ci.oid AS CI_OID,   i.indoption AS I_INDOPTION,   am.amname AS AM_NAME FROM pg_catalog.pg_class ct   JOIN pg_catalog.pg_namespace n ON (ct.relnamespace = n.oid)   JOIN pg_catalog.pg_index i ON (ct.oid = i.indrelid)   JOIN pg_catalog.pg_class ci ON (ci.oid = i.indexrelid)   JOIN pg_catalog.pg_am am ON (ci.relam = am.oid) WHERE true  AND n.nspname = \'public\' AND ct.relname = \'review_rating\') AS tmp ORDER BY NON_UNIQUE, TYPE, INDEX_NAME, ORDINAL_POSITION ',
 "statement: SELECT * FROM (SELECT n.nspname,c.relname,a.attname,a.atttypid,a.attnotnull OR (t.typtype = 'd' AND t.typnotnull) AS attnotnull,a.atttypmod,a.attlen,t.typtypmod,row_number() OVER (PARTITION BY a.attrelid ORDER BY a.attnum) AS attnum, nullif(a.attidentity, '') as attidentity,pg_catalog.pg_get_expr(def.adbin, def.adrelid) AS adsrc,dsc.description,t.typbasetype,t.typtype  FROM pg_catalog.pg_namespace n  JOIN pg_catalog.pg_class c ON (c.relnamespace = n.oid)  JOIN pg_catalog.pg_attribute a ON (a.attrelid=c.oid)  JOIN pg_catalog.pg_type t ON (a.atttypid = t.oid)  LEFT JOIN pg_catalog.pg_attrdef def ON (a.attrelid=def.adrelid AND a.attnum = def.adnum)  LEFT JOIN pg_catalog.pg_description dsc ON (c.oid=dsc.objoid AND a.attnum = dsc.objsubid)  LEFT JOIN pg_catalog.pg_class dc ON (dc.oid=dsc.classoid AND dc.relname='pg_class')  LEFT JOIN pg_catalog.pg_namespace dn ON (dc.relnamespace=dn.oid AND dn.nspname='pg_catalog')  WHERE c.relkind in ('r','p','v','f','m') and a.attnum > 0 AND NOT a.attisdropped  AND n.nspname LIKE 'public' AND c.relname LIKE 'trust') c WHERE true  ORDER BY nspname,c.relname,attnum ",
 'statement: SELECT     tmp.TABLE_CAT,     tmp.TABLE_SCHEM,     tmp.TABLE_NAME,     tmp.NON_UNIQUE,     tmp.INDEX_QUALIFIER,     tmp.INDEX_NAME,     tmp.TYPE,     tmp.ORDINAL_POSITION,     trim(both \'"\' from pg_catalog.pg_get_indexdef(tmp.CI_OID, tmp.ORDINAL_POSITION, false)) AS COLUMN_NAME,   CASE tmp.AM_NAME     WHEN \'btree\' THEN CASE tmp.I_INDOPTION[tmp.ORDINAL_POSITION - 1] & 1::smallint       WHEN 1 THEN \'D\'       ELSE \'A\'     END     ELSE NULL   END AS ASC_OR_DESC,     tmp.CARDINALITY,     tmp.PAGES,     tmp.FILTER_CONDITION FROM (SELECT NULL AS TABLE_CAT, n.nspname AS TABLE_SCHEM,   ct.relname AS TABLE_NAME, NOT i.indisunique AS NON_UNIQUE,   NULL AS INDEX_QUALIFIER, ci.relname AS INDEX_NAME,   CASE i.indisclustered     WHEN true THEN 1    ELSE CASE am.amname       WHEN \'hash\' THEN 2      ELSE 3    END   END AS TYPE,   (information_schema._pg_expandarray(i.indkey)).n AS ORDINAL_POSITION,   ci.reltuples AS CARDINALITY,   ci.relpages AS PAGES,   pg_catalog.pg_get_expr(i.indpred, i.indrelid) AS FILTER_CONDITION,   ci.oid AS CI_OID,   i.indoption AS I_INDOPTION,   am.amname AS AM_NAME FROM pg_catalog.pg_class ct   JOIN pg_catalog.pg_namespace n ON (ct.relnamespace = n.oid)   JOIN pg_catalog.pg_index i ON (ct.oid = i.indrelid)   JOIN pg_catalog.pg_class ci ON (ci.oid = i.indexrelid)   JOIN pg_catalog.pg_am am ON (ci.relam = am.oid) WHERE true  AND n.nspname = \'public\' AND ct.relname = \'trust\') AS tmp ORDER BY NON_UNIQUE, TYPE, INDEX_NAME, ORDINAL_POSITION ',
 "statement: SELECT * FROM (SELECT n.nspname,c.relname,a.attname,a.atttypid,a.attnotnull OR (t.typtype = 'd' AND t.typnotnull) AS attnotnull,a.atttypmod,a.attlen,t.typtypmod,row_number() OVER (PARTITION BY a.attrelid ORDER BY a.attnum) AS attnum, nullif(a.attidentity, '') as attidentity,pg_catalog.pg_get_expr(def.adbin, def.adrelid) AS adsrc,dsc.description,t.typbasetype,t.typtype  FROM pg_catalog.pg_namespace n  JOIN pg_catalog.pg_class c ON (c.relnamespace = n.oid)  JOIN pg_catalog.pg_attribute a ON (a.attrelid=c.oid)  JOIN pg_catalog.pg_type t ON (a.atttypid = t.oid)  LEFT JOIN pg_catalog.pg_attrdef def ON (a.attrelid=def.adrelid AND a.attnum = def.adnum)  LEFT JOIN pg_catalog.pg_description dsc ON (c.oid=dsc.objoid AND a.attnum = dsc.objsubid)  LEFT JOIN pg_catalog.pg_class dc ON (dc.oid=dsc.classoid AND dc.relname='pg_class')  LEFT JOIN pg_catalog.pg_namespace dn ON (dc.relnamespace=dn.oid AND dn.nspname='pg_catalog')  WHERE c.relkind in ('r','p','v','f','m') and a.attnum > 0 AND NOT a.attisdropped  AND n.nspname LIKE 'public' AND c.relname LIKE 'useracct') c WHERE true  ORDER BY nspname,c.relname,attnum ",
 'statement: SELECT     tmp.TABLE_CAT,     tmp.TABLE_SCHEM,     tmp.TABLE_NAME,     tmp.NON_UNIQUE,     tmp.INDEX_QUALIFIER,     tmp.INDEX_NAME,     tmp.TYPE,     tmp.ORDINAL_POSITION,     trim(both \'"\' from pg_catalog.pg_get_indexdef(tmp.CI_OID, tmp.ORDINAL_POSITION, false)) AS COLUMN_NAME,   CASE tmp.AM_NAME     WHEN \'btree\' THEN CASE tmp.I_INDOPTION[tmp.ORDINAL_POSITION - 1] & 1::smallint       WHEN 1 THEN \'D\'       ELSE \'A\'     END     ELSE NULL   END AS ASC_OR_DESC,     tmp.CARDINALITY,     tmp.PAGES,     tmp.FILTER_CONDITION FROM (SELECT NULL AS TABLE_CAT, n.nspname AS TABLE_SCHEM,   ct.relname AS TABLE_NAME, NOT i.indisunique AS NON_UNIQUE,   NULL AS INDEX_QUALIFIER, ci.relname AS INDEX_NAME,   CASE i.indisclustered     WHEN true THEN 1    ELSE CASE am.amname       WHEN \'hash\' THEN 2      ELSE 3    END   END AS TYPE,   (information_schema._pg_expandarray(i.indkey)).n AS ORDINAL_POSITION,   ci.reltuples AS CARDINALITY,   ci.relpages AS PAGES,   pg_catalog.pg_get_expr(i.indpred, i.indrelid) AS FILTER_CONDITION,   ci.oid AS CI_OID,   i.indoption AS I_INDOPTION,   am.amname AS AM_NAME FROM pg_catalog.pg_class ct   JOIN pg_catalog.pg_namespace n ON (ct.relnamespace = n.oid)   JOIN pg_catalog.pg_index i ON (ct.oid = i.indrelid)   JOIN pg_catalog.pg_class ci ON (ci.oid = i.indexrelid)   JOIN pg_catalog.pg_am am ON (ci.relam = am.oid) WHERE true  AND n.nspname = \'public\' AND ct.relname = \'useracct\') AS tmp ORDER BY NON_UNIQUE, TYPE, INDEX_NAME, ORDINAL_POSITION ',
 "statement: SELECT setting FROM pg_catalog.pg_settings WHERE name='max_index_keys'",
 "statement: SELECT NULL::text AS PKTABLE_CAT, pkn.nspname AS PKTABLE_SCHEM, pkc.relname AS PKTABLE_NAME, pka.attname AS PKCOLUMN_NAME, NULL::text AS FKTABLE_CAT, fkn.nspname AS FKTABLE_SCHEM, fkc.relname AS FKTABLE_NAME, fka.attname AS FKCOLUMN_NAME, pos.n AS KEY_SEQ, CASE con.confupdtype  WHEN 'c' THEN 0 WHEN 'n' THEN 2 WHEN 'd' THEN 4 WHEN 'r' THEN 1 WHEN 'p' THEN 1 WHEN 'a' THEN 3 ELSE NULL END AS UPDATE_RULE, CASE con.confdeltype  WHEN 'c' THEN 0 WHEN 'n' THEN 2 WHEN 'd' THEN 4 WHEN 'r' THEN 1 WHEN 'p' THEN 1 WHEN 'a' THEN 3 ELSE NULL END AS DELETE_RULE, con.conname AS FK_NAME, pkic.relname AS PK_NAME, CASE  WHEN con.condeferrable AND con.condeferred THEN 5 WHEN con.condeferrable THEN 6 ELSE 7 END AS DEFERRABILITY  FROM  pg_catalog.pg_namespace pkn, pg_catalog.pg_class pkc, pg_catalog.pg_attribute pka,  pg_catalog.pg_namespace fkn, pg_catalog.pg_class fkc, pg_catalog.pg_attribute fka,  pg_catalog.pg_constraint con,  pg_catalog.generate_series(1, 32) pos(n),  pg_catalog.pg_class pkic WHERE pkn.oid = pkc.relnamespace AND pkc.oid = pka.attrelid AND pka.attnum = con.confkey[pos.n] AND con.confrelid = pkc.oid  AND fkn.oid = fkc.relnamespace AND fkc.oid = fka.attrelid AND fka.attnum = con.conkey[pos.n] AND con.conrelid = fkc.oid  AND con.contype = 'f' AND (pkic.relkind = 'i' OR pkic.relkind = 'I') AND pkic.oid = con.conindid  AND fkn.nspname = 'public' AND fkc.relname = 'trust' ORDER BY pkn.nspname,pkc.relname, con.conname,pos.n",
 "statement: SELECT NULL::text AS PKTABLE_CAT, pkn.nspname AS PKTABLE_SCHEM, pkc.relname AS PKTABLE_NAME, pka.attname AS PKCOLUMN_NAME, NULL::text AS FKTABLE_CAT, fkn.nspname AS FKTABLE_SCHEM, fkc.relname AS FKTABLE_NAME, fka.attname AS FKCOLUMN_NAME, pos.n AS KEY_SEQ, CASE con.confupdtype  WHEN 'c' THEN 0 WHEN 'n' THEN 2 WHEN 'd' THEN 4 WHEN 'r' THEN 1 WHEN 'p' THEN 1 WHEN 'a' THEN 3 ELSE NULL END AS UPDATE_RULE, CASE con.confdeltype  WHEN 'c' THEN 0 WHEN 'n' THEN 2 WHEN 'd' THEN 4 WHEN 'r' THEN 1 WHEN 'p' THEN 1 WHEN 'a' THEN 3 ELSE NULL END AS DELETE_RULE, con.conname AS FK_NAME, pkic.relname AS PK_NAME, CASE  WHEN con.condeferrable AND con.condeferred THEN 5 WHEN con.condeferrable THEN 6 ELSE 7 END AS DEFERRABILITY  FROM  pg_catalog.pg_namespace pkn, pg_catalog.pg_class pkc, pg_catalog.pg_attribute pka,  pg_catalog.pg_namespace fkn, pg_catalog.pg_class fkc, pg_catalog.pg_attribute fka,  pg_catalog.pg_constraint con,  pg_catalog.generate_series(1, 32) pos(n),  pg_catalog.pg_class pkic WHERE pkn.oid = pkc.relnamespace AND pkc.oid = pka.attrelid AND pka.attnum = con.confkey[pos.n] AND con.confrelid = pkc.oid  AND fkn.oid = fkc.relnamespace AND fkc.oid = fka.attrelid AND fka.attnum = con.conkey[pos.n] AND con.conrelid = fkc.oid  AND con.contype = 'f' AND (pkic.relkind = 'i' OR pkic.relkind = 'I') AND pkic.oid = con.conindid  AND fkn.nspname = 'public' AND fkc.relname = 'item' ORDER BY pkn.nspname,pkc.relname, con.conname,pos.n",

In [27]:
queries = [q for q in queries if q.startswith('statement')]
queries = list(set(queries))

In [28]:
queries = [re.sub(r'^statement: ', '', q) for q in queries ]

In [29]:
queries = [q for q in queries if 'pg_' not in q and not q.startswith('SHOW ALL') and not q.startswith('COMMIT') and not q.startswith('SET') and not q.startswith('BEGIN')]

In [30]:
queries = [q for q in queries if 'WHERE' in q or 'ORDER' in q or 'JOIN' in q or 'join' in q]

In [31]:
queries

['SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=429 AND t.source_u_id=1048',
 'SELECT * FROM review r WHERE r.i_id=289 ORDER BY creation_date DESC',
 'UPDATE trust SET trust = 0 WHERE source_u_id=229 AND target_u_id=1172',
 'SELECT * FROM trust t WHERE t.source_u_id=1497',
 'UPDATE item SET title = \'yE9DA>]obh;^@@SW@GW@Wr`ZYiJMSD~-8gQY25Saek_h}b_qbhu]~m8I),SwFi@K^b@RbKCv;M,dKot]AlZTicJMSD7E$?^1rB ." Z\'\'Exe9$25C"}}o2a .&xD/&-jD\' WHERE i_id=267',
 'UPDATE useracct SET name = \':]"=rTBft]=%FwUSFISwfCa*\' WHERE u_id=314',
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=967 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE review SET rating = 941 WHERE i_id=783 AND u_id=1775',
 'SELECT * FROM trust t WHERE t.source_u_id=1486',
 'UPDATE trust SET trust = 0 WHERE source_u_id=1130 AND target_u_id=1919',
 'SELECT * FROM trust t WHERE t.source_u_id=1309',
 'SELECT * FROM trust t WHERE t.source_u_id=175',
 'SELECT * FROM review r WHERE r.i_id=284 ORDER BY creation_date DESC',
 'SELECT avg(rating) FROM review r WHERE r.i_id=861',
 'UPDATE review SET rating = 982 WHERE i_id=965 AND u_id=506',
 'UPDATE trust SET trust = 0 WHERE source_u_id=1661 AND target_u_id=914',
 'UPDATE trust SET trust = 1 WHERE source_u_id=811 AND target_u_id=1918',
 'UPDATE trust SET trust = 0 WHERE source_u_id=471 AND target_u_id=383',
 "UPDATE useracct SET name = 'Vldi*c_m^d9tRI2C(Px~tmHj' WHERE u_id=666",
 'UPDATE trust SET trust = 0 WHERE source_u_id=860 AND target_u_id=981',
 'UPDATE trust SET trust = 0 WHERE source_u_id=1488 AND target_u_id=769',
 'UPDATE review SET rating = 407 WHERE i_id=283 AND u_id=1725',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=596 AND t.source_u_id=775',
 'SELECT avg(rating) FROM review r WHERE r.i_id=747',
 'SELECT avg(rating) FROM review r WHERE r.i_id=568',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=1203 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE trust SET trust = 1 WHERE source_u_id=1315 AND target_u_id=168',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=842 AND t.source_u_id=766',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=578 AND t.source_u_id=1569',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=859 AND t.source_u_id=1780',
 'UPDATE trust SET trust = 0 WHERE source_u_id=1677 AND target_u_id=459',
 'UPDATE trust SET trust = 0 WHERE source_u_id=443 AND target_u_id=1561',
 'UPDATE review SET rating = 410 WHERE i_id=500 AND u_id=1085',
 "UPDATE useracct SET name = '9FcVa2)0W{_3Sg2~Muxaj~X%' WHERE u_id=314",
 'UPDATE trust SET trust = 1 WHERE source_u_id=205 AND target_u_id=52',
 'UPDATE trust SET trust = 1 WHERE source_u_id=692 AND target_u_id=873',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=447 AND t.source_u_id=1743',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=255 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE trust SET trust = 1 WHERE source_u_id=972 AND target_u_id=684',
 'UPDATE review SET rating = 343 WHERE i_id=438 AND u_id=543',
 'UPDATE trust SET trust = 1 WHERE source_u_id=1852 AND target_u_id=1583',
 'UPDATE trust SET trust = 0 WHERE source_u_id=156 AND target_u_id=1262',
 'SELECT avg(rating) FROM review r WHERE r.i_id=895',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=121 AND t.source_u_id=835',
 'UPDATE trust SET trust = 0 WHERE source_u_id=95 AND target_u_id=324',
 'UPDATE trust SET trust = 0 WHERE source_u_id=554 AND target_u_id=879',
 "UPDATE useracct SET name = '/a</v0!Ets,W.,)&(W &1tr-' WHERE u_id=369",
 'UPDATE review SET rating = 266 WHERE i_id=368 AND u_id=39',
 'UPDATE trust SET trust = 1 WHERE source_u_id=667 AND target_u_id=1540',
 "UPDATE item SET title = '{W5ItCj3x~|X6UiO_(x~e)c(=?#1^G\\0Eq0)@s$l>6W)edFISw,:AvSh07WeOrMlw^rF$2fBt?t9_3$*H1rFE]lsW@%P#ObI]1$*=`J=&/0Tt#cDp!K0Uyte0=%Um<s@' WHERE i_id=598",
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=536 AND t.source_u_id=1886',
 'UPDATE trust SET trust = 1 WHERE source_u_id=470 AND target_u_id=229',
 'UPDATE review SET rating = 213 WHERE i_id=600 AND u_id=130',
 'UPDATE review SET rating = 814 WHERE i_id=515 AND u_id=1718',
 "UPDATE useracct SET name = 'B}TP;J*Y &B+el $@N^GhxLI' WHERE u_id=1614",
 "UPDATE item SET title = 'RP[WtIehSaUF)%C4Sa^O%Ha]Htl< h#^Vz0t@N^dQ-,I)C@GW]LRJD%>jx^d`Q?08?SVSDcD.#,2SZWHR;qPPgl~bKR}FZ:iU}xip,Ij3yS''$t7MP Iy*-SYm{Z\\BR#@' WHERE i_id=177",
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=714 AND t.source_u_id=768',
 'UPDATE review SET rating = 241 WHERE i_id=615 AND u_id=88',
 'UPDATE trust SET trust = 0 WHERE source_u_id=1098 AND target_u_id=565',
 'UPDATE item SET title = \'oCg##:Bft] 69jGd(+SYfWA^sm+2WHD-FnA&@o hlrT1n+>btzd($L,>HZbpOr,I\'\'`Kz hPA )>8J\\bS&vU}~-+=bSq  \\ZN0>^lWWp_@C!$SoV"N+i:)Mte1#}>lRR@\' WHERE i_id=393',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=1597 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 "UPDATE useracct SET name = '?ZHDWSHKSDbJg\\:8''.W{;xat' WHERE u_id=77",
 'UPDATE item SET title = \'`Q?Zmi),SDt#l(Hyg,t#rkB!`8l~bK0rM>)?#Gts0 5hSL@GWsmA{X5ojx^G_]]"bsHV^l}Q\\MU?psSahv"r0dpsSa;V~_]n)Qxi>hG[eTk4x {t9s)+#Gt]^^NK<MZo\' WHERE i_id=34',
 'UPDATE review SET rating = 570 WHERE i_id=131 AND u_id=958',
 'SELECT * FROM trust t WHERE t.source_u_id=390',
 'SELECT * FROM trust t WHERE t.source_u_id=1479',
 'SELECT * FROM trust t WHERE t.source_u_id=481',
 'UPDATE trust SET trust = 0 WHERE source_u_id=1843 AND target_u_id=1006',
 'SELECT * FROM trust t WHERE t.source_u_id=596',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=467 AND t.source_u_id=219',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=846 AND t.source_u_id=1252',
 'UPDATE trust SET trust = 0 WHERE source_u_id=918 AND target_u_id=479',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=725 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 "UPDATE useracct SET name = '8[685*0c$2nQM|g}#&SR9T`|' WHERE u_id=94",
 "UPDATE item SET title = 'XmeV6:@dt1zc(8COMqt]5&hdCsSa^O\\Ee{E3Ksxa*]r\\rs#V$l!T>Nx@r7t#KvdUrdSVSDmN1+5:Uc^O p^0W?ruSD7bD5 /*Ntz4%rn-}HKSD7=~19+h-tzB1vCOTU#' WHERE i_id=211",
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=931 AND t.source_u_id=200',
 "UPDATE item SET title = '#VomV%j: h$WS\\[Ngybp8[685*0c$2 `N G/ruSD7\\TGD+>bt1E[.OXIh<$*c''.!KrryWe`f^Z#Thv^dn2Vsp+@dt]x/p,@&_$tz,O51OH@CS<V\\_YnS_bSYP=H?uYr4' WHERE i_id=237",
 'UPDATE trust SET trust = 0 WHERE source_u_id=1877 AND target_u_id=1902',
 'UPDATE useracct SET name = \'PsUUSl@GW@" Z\'\'Exe9$2P,fV\' WHERE u_id=262',
 'UPDATE item SET title = \'ZhCC"52e$2.I(h1wr%bSK,MKsZrB pQB__*ntH$td A\'\'f6+Z p!\\>1.+(Ltz^2s1FH#*W@9dCC"RSebSCPLb!>\'\'Ox=^twIGC(+SYS&}p<qcjWVlrjED?*8^dFvQS~PjV\' WHERE i_id=569',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=345 AND t.source_u_id=1699',
 'SELECT * FROM trust t WHERE t.source_u_id=1170',
 'UPDATE trust SET trust = 0 WHERE source_u_id=19 AND target_u_id=1647',
 "UPDATE useracct SET name = 'o3LHH_l< hf_AvS.jqW@@=y5' WHERE u_id=1407",
 'UPDATE trust SET trust = 1 WHERE source_u_id=532 AND target_u_id=1214',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=458 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE trust SET trust = 1 WHERE source_u_id=169 AND target_u_id=749',
 "UPDATE useracct SET name = ';,IK(ZrF$t.~]>fMr%bS*p1N' WHERE u_id=1479",
 'SELECT * FROM trust t WHERE t.source_u_id=1704',
 'SELECT * FROM trust t WHERE t.source_u_id=24',
 'SELECT * FROM review r WHERE r.i_id=70 ORDER BY creation_date DESC',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=484 AND t.source_u_id=884',
 'UPDATE item SET title = \']0([[\\#*WV#>(]&lryWH_H](G?Bu$lfGo$O3U}xiTM$"A9M_bKx\'\'lM+?Fnx\'\'2WK_+C!Ix5I2hq&)BTbK#k%#k:j: he1z8NG+2WHwh5PP_JnteTw-L-cM!$lBgAz$UIb\' WHERE i_id=675',
 'SELECT * FROM trust t WHERE t.source_u_id=784',
 'UPDATE trust SET trust = 1 WHERE source_u_id=255 AND target_u_id=260',
 'SELECT * FROM review r WHERE r.i_id=295 ORDER BY creation_date DESC',
 "UPDATE useracct SET name = ',OK,s}0Bbpt]r2RIM!$l_[pF' WHERE u_id=256",
 'UPDATE item SET title = \'NkF9a:!Ets3,m+kB#*W@ .9RgDHKSa"?\\Qo-\'\'.W{ -cw8xc,xw-X[ttn@CSYB+ea+xKY^G!<]&$5Hw p(&1b?T03SaVld+h%>L^dYv4g1CHOW{KI(m$_Hw .x5@\\b(yW\' WHERE i_id=125',
 'UPDATE trust SET trust = 1 WHERE source_u_id=1428 AND target_u_id=1379',
 "UPDATE useracct SET name = '%H#lM^H{$27rIqnk]- &?Z0l' WHERE u_id=840",
 'SELECT * FROM review r WHERE r.i_id=758 ORDER BY creation_date DESC',
 'UPDATE trust SET trust = 0 WHERE source_u_id=172 AND target_u_id=875',
 'SELECT avg(rating) FROM review r WHERE r.i_id=306',
 'UPDATE review SET rating = 603 WHERE i_id=319 AND u_id=1445',
 'UPDATE item SET title = \'!6xkid)Mt{LaYktO~Ct1+N-ShEg7 .B}!oOijmSYB#pj~yJMSD#^@10+*Ntz*8"4Q&p5t#q5v64M!(W@iRr\'\'G>MuxaWH+edtt#^O==1Ee)!Ix5?=HwAi25Sa/PP=)+[H\' WHERE i_id=30',
 'UPDATE trust SET trust = 1 WHERE source_u_id=679 AND target_u_id=1791',
 'UPDATE trust SET trust = 1 WHERE source_u_id=805 AND target_u_id=52',
 'SELECT * FROM review r WHERE r.i_id=821 ORDER BY creation_date DESC',
 'UPDATE trust SET trust = 0 WHERE source_u_id=798 AND target_u_id=1110',
 'UPDATE item SET title = \'7M$LIF]- &[<&$#3JQWH:@}t\\n(Px~=B!u_n+Sx mfLge~!$S<[L+ihxt\'\'bS:PO#M|*1W]b {rPNFnx= ==O-+\'\'Kt9A"oi~xJMSDWz" @qgnWe+993=%r!^lKo9<"CL=\' WHERE i_id=806',
 'SELECT * FROM trust t WHERE t.source_u_id=942',
 'UPDATE trust SET trust = 0 WHERE source_u_id=876 AND target_u_id=371',
 'SELECT * FROM trust t WHERE t.source_u_id=1144',
 "UPDATE item SET title = 'M.OuK%Jy paoULt>0Xx''-|6%0h!$So#18+6|ryWe]bA6_/+Sx Ill3&%FT^l9T![[j+Ote^G){&3MTW@uQT$n}*-SYR&\\\\ysK]bKw51b@c!$SR^*-^\\X(+SY1?*]:JvM' WHERE i_id=364",
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=910 AND t.source_u_id=1162',
 'UPDATE review SET rating = 171 WHERE i_id=763 AND u_id=129',
 "UPDATE useracct SET name = 'nB|G|9g;$2E! rSljqW]3{Jk' WHERE u_id=481",
 "UPDATE useracct SET name = 'M.OuK%Jy pWP6gO~jmS<$E 0' WHERE u_id=1789",
 "UPDATE useracct SET name = ')7u3\\%p@ .`vMKsE(W &jtuE' WHERE u_id=991",
 'UPDATE trust SET trust = 1 WHERE source_u_id=517 AND target_u_id=1944',
 'SELECT avg(rating) FROM review r WHERE r.i_id=276',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=167 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT * FROM review r WHERE r.i_id=559 ORDER BY creation_date DESC',
 "UPDATE item SET title = '=`!aUx!IxamN8mK|ryWH#^VPZJjx^dYJ)ifxr%bSZK**G9SebSFa*~I.t=xiOUTsQm>EW]7LDVt:~Ct1us]x8jg,t#00Exc\\@GWsW+elj$@N^GFq:/Y>t=xi]xF!Ir#''' WHERE i_id=969",
 "UPDATE useracct SET name = 'LwZ_tnJX^O-hJee__$tz*o?k' WHERE u_id=316",
 'SELECT * FROM review r WHERE r.i_id=767 ORDER BY creation_date DESC',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=596 AND t.source_u_id=1091',
 'UPDATE review SET rating = 200 WHERE i_id=524 AND u_id=740',
 'UPDATE trust SET trust = 0 WHERE source_u_id=801 AND target_u_id=276',
 'UPDATE review SET rating = 485 WHERE i_id=682 AND u_id=1300',
 "UPDATE useracct SET name = '3#v+Un!Ix5w3TPP_tD p<@JT' WHERE u_id=1711",
 "UPDATE item SET title = '[qO0#*>fx~X{V]Zt@N^GOHl(H?Bft]qRz/O>U}xiz($xBTHpx=5`c~rx>ASY^G)F[]#*W@8(ApOT@CSogeel ^es^lX{a|04!$S<=xKuto_3$*6v86sErB ph<Q+S:gS' WHERE i_id=970",
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=911 AND t.source_u_id=480',
 'UPDATE item SET title = \',Bxvsp(W &"/LA_|\'\'.W{&Y4}]oH{$2J+xJGYruSD6KO!Hy),SZ\'\',,_>X+2W^m#zk6O@dt1PA^J>Y)\\$tn|x"6sgybp3f{}Z5j>$l\\a@5_.+Sx (!A8tOj3xa>R8"J}).\' WHERE i_id=889',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=108 AND t.source_u_id=904',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=774 AND t.source_u_id=738',
 'UPDATE trust SET trust = 1 WHERE source_u_id=751 AND target_u_id=1945',
 'UPDATE trust SET trust = 1 WHERE source_u_id=226 AND target_u_id=402',
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=213 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT avg(rating) FROM review r WHERE r.i_id=113',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=745 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 "UPDATE useracct SET name = 'zsYrg*#&S<Lw9!t0)X pcUse' WHERE u_id=1872",
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=197 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT * FROM review r WHERE r.i_id=166 ORDER BY creation_date DESC',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=263 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=1051 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=248 AND t.source_u_id=1677',
 "UPDATE item SET title = '`uyKHD),SZ:dd:a3)0W^F?u!48@RbKj[(zx*r7teD-ga-xM[^G6qS0D*>btz~5-iRc(6^dLJFpdbFXbpPPe9c|@GWsWlOBi;)Mt{7rIqnk]- &XA{# :@N^G@3X''{En-' WHERE i_id=147",
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=770 AND t.source_u_id=1525',
 'SELECT * FROM trust t WHERE t.source_u_id=382',
 "UPDATE useracct SET name = '%#](Gyg;$29\\u]\\t!P h(T/m' WHERE u_id=1214",
 'SELECT * FROM review r WHERE r.i_id=530 ORDER BY creation_date DESC',
 'UPDATE review SET rating = 470 WHERE i_id=705 AND u_id=140',
 'UPDATE item SET title = \'\\U7Vim!(W@%H#lM^H{$2zs8HS_Mqt]}e\'\'XU4FISw$"g{Gmr;x\'\'|]z:ZIU)$t).l!@yk4x iwwq=cr!^l+))Mb?HV^la-Yk4zSwteB3u:zI+9^OV>>/xjHlt9"4GfGeEN\' WHERE i_id=937',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=980 AND t.source_u_id=891',
 'SELECT * FROM review r WHERE r.i_id=809 ORDER BY creation_date DESC',
 'UPDATE item SET title = \'-u[vU.!$S<CQXukgHOWeP$^H]:H{$2Uj$tSX~"So_]G$vuFjt#?rIqQ)#5bKD=V>2U!P hqTL"i#!(WV&I +^B@RbK$_=42.(Px~<-JJ*YtH$tbokb@>Fnx=F-{QU[xH\' WHERE i_id=966',
 'UPDATE item SET title = \'qZs/NFM| hNNFVa:!Et1ZC)BWY#&S<N/PLu[tD po;cZWir;xi"=+%Y4JMSD_uxJGD(+SYL(+D%>@CSY{21$.}jqW]5BxmWn#KxwC4U;<J+Z p"8n,T&h8 &FN{PH7]N\' WHERE i_id=793',
 'SELECT avg(rating) FROM review r WHERE r.i_id=631',
 'SELECT avg(rating) FROM review r WHERE r.i_id=436',
 "UPDATE useracct SET name = 'Xs@z[*+Ote?b#aWx#KxaZ<wT' WHERE u_id=1833",
 "UPDATE useracct SET name = 'eV@3>BU\\WHgHeO0^+^$t!Zve' WHERE u_id=1502",
 'UPDATE item SET title = \'N"\\H[:Fy$2:GdWa3)0W{Wd"W~3FMW{D=VT{kj: ht@C4=.hkSY SSXWJgu^lkipFC807WeJH\'\'#mt2a .vtSnN`rB .,: vth0Xx\'\'Gz&vUhpsSa_#.|GnruSaaxhdCqKL\' WHERE i_id=595',
 'UPDATE trust SET trust = 1 WHERE source_u_id=1731 AND target_u_id=266',
 'UPDATE trust SET trust = 1 WHERE source_u_id=680 AND target_u_id=563',
 'UPDATE trust SET trust = 0 WHERE source_u_id=1470 AND target_u_id=590',
 'SELECT avg(rating) FROM review r WHERE r.i_id=255',
 'UPDATE trust SET trust = 0 WHERE source_u_id=929 AND target_u_id=1056',
 'UPDATE review SET rating = 439 WHERE i_id=237 AND u_id=1312',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=1072 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE trust SET trust = 1 WHERE source_u_id=880 AND target_u_id=1172',
 'UPDATE review SET rating = 381 WHERE i_id=534 AND u_id=1950',
 "UPDATE useracct SET name = 'fl`i}c_qbh%}7~26!P h7$?''' WHERE u_id=1176",
 'UPDATE item SET title = \'#F,Bj4p9x\'\'*]<dvVe5 .ca]f&XgybpmV1mJ%jx^GpD&ED\\!(W@wC%@U:_$tzN?)}<-SZWH;`uI)-@GWsrFF# t0>^l{91fDg!(WV#(j[[T+Ot{ .w(Syr7t#1,Z5Bex"\' WHERE i_id=631',
 'UPDATE trust SET trust = 1 WHERE source_u_id=1954 AND target_u_id=1394',
 'UPDATE trust SET trust = 1 WHERE source_u_id=1433 AND target_u_id=796',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=106 AND t.source_u_id=47',
 'SELECT * FROM trust t WHERE t.source_u_id=906',
 'SELECT avg(rating) FROM review r WHERE r.i_id=991',
 'SELECT * FROM review r WHERE r.i_id=771 ORDER BY creation_date DESC',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=917 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE trust SET trust = 0 WHERE source_u_id=1530 AND target_u_id=1209',
 'SELECT * FROM trust t WHERE t.source_u_id=1052',
 'UPDATE trust SET trust = 0 WHERE source_u_id=633 AND target_u_id=1006',
 'SELECT avg(rating) FROM review r WHERE r.i_id=753',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=1029 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE trust SET trust = 0 WHERE source_u_id=1753 AND target_u_id=1814',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=785 AND t.source_u_id=1604',
 "UPDATE useracct SET name = 'L<4''nj>bt1hvUS{E0_ .NyWN' WHERE u_id=481",
 'UPDATE review SET rating = 740 WHERE i_id=433 AND u_id=429',
 'UPDATE review SET rating = 358 WHERE i_id=308 AND u_id=55',
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=945 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT * FROM trust t WHERE t.source_u_id=1467',
 "UPDATE useracct SET name = 'Yfb223#&SR@VYJ(DhkSYvo<K' WHERE u_id=218",
 'UPDATE item SET title = \'1y>xx0#Gt]B@zGE9e9$2iE=yws(6^dC~U;Q5@o &,*&PdBFXbp0S.(g?M[^G-m/v*&)X p0>xCW5g;$2/~4iQM>EWs-m/LT[S# p9"F#v:!Et]$O{Vke+Ote(V|zuyIe\' WHERE i_id=847',
 'UPDATE review SET rating = 201 WHERE i_id=922 AND u_id=752',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=215 AND t.source_u_id=1125',
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=161 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 "UPDATE useracct SET name = 'LoUL*>0Xx'':WtgqC)0W{jp;m' WHERE u_id=615",
 'UPDATE useracct SET name = \'W#O,i;)MtevR4QcK]"tz2I,f\' WHERE u_id=1702',
 'UPDATE trust SET trust = 1 WHERE source_u_id=1376 AND target_u_id=1169',
 "UPDATE useracct SET name = 'qEPLJ>ehSaL-NLs[rB pV.~E' WHERE u_id=1675",
 'UPDATE trust SET trust = 0 WHERE source_u_id=387 AND target_u_id=178',
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=34 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE trust SET trust = 0 WHERE source_u_id=687 AND target_u_id=396',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=1415 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=396 AND t.source_u_id=923',
 'UPDATE review SET rating = 10 WHERE i_id=552 AND u_id=1189',
 'UPDATE trust SET trust = 1 WHERE source_u_id=1974 AND target_u_id=945',
 'UPDATE trust SET trust = 0 WHERE source_u_id=1398 AND target_u_id=992',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=292 AND t.source_u_id=927',
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=757 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE item SET title = \'8EAW!3\'\'Ox=ejj_|XipW^~-8gQY25Sa6..>iy)Mt9"07jU\\29We\'\'JJ\'\'ox0>^l42{96+e*t#/qL?\'\'@!Ets9yc#a2)0WH~Rg22IBu$lA|tOyI*8^dr6lK+bl~bKV&rZf+vY\' WHERE i_id=714',
 "UPDATE useracct SET name = 'u@Du]n),SZ9tRI2C(Px~c<&h' WHERE u_id=1364",
 "UPDATE item SET title = 'C;7Mk)''Ox=l8;54/_bSYO#]WwnM[^G=&gZ&qMTW@E[OX.R_qbhCY0KVEj: &Cfmk@]gnWe|u6LUcKsxaGUU\\0Nes^leF0Mc\\+2WH|#U ?y_3$*e9oP9gj|bKKy?3oVW5' WHERE i_id=934",
 'UPDATE review SET rating = 844 WHERE i_id=201 AND u_id=1757',
 "UPDATE useracct SET name = 'e!I_(nS{xi~|f$6ue*t#>pYe' WHERE u_id=75",
 'UPDATE trust SET trust = 1 WHERE source_u_id=70 AND target_u_id=1262',
 'SELECT * FROM trust t WHERE t.source_u_id=545',
 'UPDATE trust SET trust = 1 WHERE source_u_id=697 AND target_u_id=1578',

# Get all table columns
select table_schema, table_name, column_name from information_schema.columns where table_schema = 'public';

In [79]:
Parser('SELECT avg(rating) FROM review r JOIN trust t ON r.id = t.id').columns_dict

{'select': ['rating'], 'join': ['review.id', 'trust.id']}

In [45]:
qq = queries[0]
Parser(qq).columns_dict

{'select': ['rating'],
 'where': ['review.u_id',
  'trust.target_u_id',
  'review.i_id',
  'trust.source_u_id']}

In [48]:
from sql_metadata import Parser
from collections import defaultdict

In [49]:
group_counts = defaultdict(int)
group_repr = {}
gqueries = set()
for query in queries:
    generalized = Parser(query).generalize
    group_counts[generalized] += 1
    group_repr[generalized] = query
    gqueries.add(generalized)

In [66]:
queries[0]

'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=429 AND t.source_u_id=1048'

In [69]:
p = Parser(queries[0] + ' ORDER BY t.source_u_id')

In [70]:
p.columns_dict

{'select': ['rating'],
 'where': ['review.u_id',
  'trust.target_u_id',
  'review.i_id',
  'trust.source_u_id'],
 'order_by': ['trust.source_u_id']}

In [77]:
column_usage_counts = defaultdict(int)
tables = []
table_columns = defaultdict(set)

for qgroup, query in group_repr.items():
#     print(query)
    try:
        pq = Parser(query)
        tables.extend(pq.tables)
        columns = pq.columns_dict
        groups = ['where', 'order_by', 'join']
        for group in groups:
            if group in columns:
                for col in columns[group]:
                    if '.' in col:
                        column_usage_counts[col] += group_counts[qgroup]
                        tab, c = col.split('.')
                        table_columns[tab].add(c)
    except:
        pass
tables = set(tables)
print(table_columns)
ordered_columns = list(reversed(sorted(list(column_usage_counts.items()), key=lambda x:x[1])))
print(ordered_columns)

defaultdict(<class 'set'>, {'review': {'creation_date', 'i_id', 'u_id'}, 'trust': {'target_u_id', 'source_u_id'}, 'item': {'i_id'}, 'useracct': {'u_id'}})
[('review.i_id', 4602), ('trust.source_u_id', 3282), ('review.u_id', 3270), ('review.creation_date', 2118), ('trust.target_u_id', 2016), ('useracct.u_id', 1254), ('item.i_id', 864)]

In [38]:
q = queries[0]
Parser(q).generalize

'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=N AND t.source_u_id=N'

In [88]:
RenderJSON(json.loads(pglast.parser.parse_sql_json('SELECT * FROM review r join marks m on m.disk = r.disk WHERE r.i_id=$1 and r.disk=2 ORDER BY creation_date DESC')))

In [90]:
"""select json_build_object('table_schema', json_agg(table_schema), 'table_name', json_agg(table_name), 'column_name', json_agg(column_name)) from information_schema.columns where table_schema = 'public';
"""
s = '{"table_schema" : ["public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public"], "table_name" : ["useracct", "review_rating", "review_rating", "review_rating", "review_rating", "trust", "trust", "trust", "trust", "hypopg_list_indexes", "hypo", "useracct", "item", "item", "review", "review", "review", "review", "review", "review", "review_rating", "review_rating", "review_rating", "review_rating", "useracct", "useracct", "hypo", "hypopg_list_indexes", "item", "item", "review", "hypopg_list_indexes", "hypopg_list_indexes", "hypopg_list_indexes"], "column_name" : ["u_id", "creation_date", "last_mod_date", "type", "vertical_id", "source_u_id", "target_u_id", "trust", "creation_date", "indexrelid", "id", "creation_date", "i_id", "creation_date", "a_id", "u_id", "i_id", "rating", "rank", "creation_date", "u_id", "a_id", "rating", "status", "name", "email", "val", "index_name", "title", "description", "comment", "schema_name", "table_name", "am_name"]}'
columns = json.loads(s)

In [91]:
columns

{'table_schema': ['public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public'],
 'table_name': ['useracct',
  'review_rating',
  'review_rating',
  'review_rating',
  'review_rating',
  'trust',
  'trust',
  'trust',
  'trust',
  'hypopg_list_indexes',
  'hypo',
  'useracct',
  'item',
  'item',
  'review',
  'review',
  'review',
  'review',
  'review',
  'review',
  'review_rating',
  'review_rating',
  'review_rating',
  'review_rating',
  'useracct',
  'useracct',
  'hypo',
  'hypopg_list_indexes',
  'item',
  'item',
  'review',
  'hypopg_list_indexes',
  'hypopg_list_indexes',
  'hypopg_list_indexes'],
 'column_name': ['u_id',
  'creation_date',
  'last_mod_date',
  'type',
  'vertical_id',
  'source_u_id',
  'target_u_id',
  'trust',
  'creation_date',
  'indexrelid',
  'id',
  'creation_date',
  'i_id',
  'creation_date',
  'a_id',
  'u_id',
  'i_id',
  'rating',
  'rank',
  'creation_date',
  'u_id',
  'a_id',
  'rating',
  'status',
  'name',
  'email',
  'val',
  'index_name',
  'title',
  'description',
  'comment',
  'schema_name',
  'table_name',
  'am_name']}

In [94]:
attrs = list(zip(*(val for val in columns.values())))

In [95]:
attrs

[('public', 'useracct', 'u_id'),
 ('public', 'review_rating', 'creation_date'),
 ('public', 'review_rating', 'last_mod_date'),
 ('public', 'review_rating', 'type'),
 ('public', 'review_rating', 'vertical_id'),
 ('public', 'trust', 'source_u_id'),
 ('public', 'trust', 'target_u_id'),
 ('public', 'trust', 'trust'),
 ('public', 'trust', 'creation_date'),
 ('public', 'hypopg_list_indexes', 'indexrelid'),
 ('public', 'hypo', 'id'),
 ('public', 'useracct', 'creation_date'),
 ('public', 'item', 'i_id'),
 ('public', 'item', 'creation_date'),
 ('public', 'review', 'a_id'),
 ('public', 'review', 'u_id'),
 ('public', 'review', 'i_id'),
 ('public', 'review', 'rating'),
 ('public', 'review', 'rank'),
 ('public', 'review', 'creation_date'),
 ('public', 'review_rating', 'u_id'),
 ('public', 'review_rating', 'a_id'),
 ('public', 'review_rating', 'rating'),
 ('public', 'review_rating', 'status'),
 ('public', 'useracct', 'name'),
 ('public', 'useracct', 'email'),
 ('public', 'hypo', 'val'),
 ('public', 'hypopg_list_indexes', 'index_name'),
 ('public', 'item', 'title'),
 ('public', 'item', 'description'),
 ('public', 'review', 'comment'),
 ('public', 'hypopg_list_indexes', 'schema_name'),
 ('public', 'hypopg_list_indexes', 'table_name'),
 ('public', 'hypopg_list_indexes', 'am_name')]

In [104]:
q = 'SELECT * FROM trust t JOIN (SELECT T FROM X WHERE T.i = 1) WHERE t.source_u_id=$1'
print(q)
re.sub(r'SELECT.*FROM', ' ', q)

SELECT * FROM trust t JOIN (SELECT T FROM X WHERE T.i = 1) WHERE t.source_u_id=$1

'  X WHERE T.i = 1) WHERE t.source_u_id=$1'

In [105]:
parsed_columns = []

for q in cleaned_queries:
    rel_q  = re.sub(r'SELECT.*FROM', ' ', q)
    q_col = []
    for _, table, attr in attrs:
        if table in rel_q and attr in rel_q:
            q_col.append((table, attr))
    parsed_columns.append((q, q_col))
    print(q)
    print(q_col)

SELECT * FROM trust t WHERE t.source_u_id=$1
[('trust', 'source_u_id'), ('trust', 'trust')]
UPDATE trust SET trust = $1 WHERE source_u_id=$2 AND target_u_id=$3
[('trust', 'source_u_id'), ('trust', 'target_u_id'), ('trust', 'trust')]
UPDATE item SET title = $1 WHERE i_id=$2
[('item', 'i_id'), ('item', 'title')]
UPDATE review SET rating = $1 WHERE i_id=$2 AND u_id=$3
[('review', 'u_id'), ('review', 'i_id'), ('review', 'rating')]
SELECT * FROM review r WHERE r.i_id=$1 ORDER BY creation_date DESC
[('review', 'i_id'), ('review', 'creation_date')]
SELECT * FROM review r WHERE r.i_id=$1 ORDER BY creation_date DESC
[('review', 'i_id'), ('review', 'creation_date')]
SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=$1 AND t.source_u_id=$2
[('trust', 'source_u_id'), ('trust', 'target_u_id'), ('trust', 'trust'), ('review', 'u_id'), ('review', 'i_id')]
UPDATE useracct SET name = $1 WHERE u_id=$2
[('useracct', 'u_id'), ('useracct', 'name')]
UPDATE trust SET trust = $1 WHERE source_u_id=$2 AND target_u_id=$3
[('trust', 'source_u_id'), ('trust', 'target_u_id'), ('trust', 'trust')]
SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10
[('useracct', 'u_id'), ('useracct', 'creation_date'), ('review', 'u_id'), ('review', 'rating'), ('review', 'creation_date')]
UPDATE review SET rating = $1 WHERE i_id=$2 AND u_id=$3
[('review', 'u_id'), ('review', 'i_id'), ('review', 'rating')]
SELECT avg(rating) FROM review r WHERE r.i_id=$1
[('review', 'i_id')]
SELECT * FROM trust t WHERE t.source_u_id=$1
[('trust', 'source_u_id'), ('trust', 'trust')]
SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10
[('item', 'i_id'), ('item', 'creation_date'), ('review', 'i_id'), ('review', 'rating'), ('review', 'creation_date')]
UPDATE item SET title = $1 WHERE i_id=$2
[('item', 'i_id'), ('item', 'title')]
UPDATE useracct SET name = $1 WHERE u_id=$2
[('useracct', 'u_id'), ('useracct', 'name')]
SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10
[('useracct', 'u_id'), ('useracct', 'creation_date'), ('review', 'u_id'), ('review', 'rating'), ('review', 'creation_date')]
SELECT avg(rating) FROM review r WHERE r.i_id=$1
[('review', 'i_id')]
SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=$1 AND t.source_u_id=$2
[('trust', 'source_u_id'), ('trust', 'target_u_id'), ('trust', 'trust'), ('review', 'u_id'), ('review', 'i_id')]
SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10
[('item', 'i_id'), ('item', 'creation_date'), ('review', 'i_id'), ('review', 'rating'), ('review', 'creation_date')]

In [43]:
pglast.parser.parse_sql_json('SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10')

'{"version":130003,"stmts":[{"stmt":{"SelectStmt":{"targetList":[{"ResTarget":{"val":{"ColumnRef":{"fields":[{"A_Star":{}}],"location":7}},"location":7}}],"fromClause":[{"RangeVar":{"relname":"review","inh":true,"relpersistence":"p","alias":{"aliasname":"r"},"location":14}},{"RangeVar":{"relname":"useracct","inh":true,"relpersistence":"p","alias":{"aliasname":"u"},"location":24}}],"whereClause":{"BoolExpr":{"boolop":"AND_EXPR","args":[{"A_Expr":{"kind":"AEXPR_OP","name":[{"String":{"str":"="}}],"lexpr":{"ColumnRef":{"fields":[{"String":{"str":"u"}},{"String":{"str":"u_id"}}],"location":41}},"rexpr":{"ColumnRef":{"fields":[{"String":{"str":"r"}},{"String":{"str":"u_id"}}],"location":50}},"location":48}},{"A_Expr":{"kind":"AEXPR_OP","name":[{"String":{"str":"="}}],"lexpr":{"ColumnRef":{"fields":[{"String":{"str":"r"}},{"String":{"str":"u_id"}}],"location":61}},"rexpr":{"ParamRef":{"number":1,"location":68}},"location":67}}],"location":57}},"sortClause":[{"SortBy":{"node":{"ColumnRef":{"fields":[{"String":{"str":"rating"}}],"location":80}},"sortby_dir":"SORTBY_DESC","sortby_nulls":"SORTBY_NULLS_DEFAULT","location":-1}},{"SortBy":{"node":{"ColumnRef":{"fields":[{"String":{"str":"r"}},{"String":{"str":"creation_date"}}],"location":93}},"sortby_dir":"SORTBY_DESC","sortby_nulls":"SORTBY_NULLS_DEFAULT","location":-1}}],"limitCount":{"A_Const":{"val":{"Integer":{"ival":10}},"location":120}},"limitOption":"LIMIT_OPTION_COUNT","op":"SETOP_NONE"}}}]}'

In [44]:
pglast.parser.parse_sql_json('SELECT * FROM review r, useracct u join (select cake_id from cakes) as cake on r.cake_id = cake.cake_id')

'{"version":130003,"stmts":[{"stmt":{"SelectStmt":{"targetList":[{"ResTarget":{"val":{"ColumnRef":{"fields":[{"A_Star":{}}],"location":7}},"location":7}}],"fromClause":[{"RangeVar":{"relname":"review","inh":true,"relpersistence":"p","alias":{"aliasname":"r"},"location":14}},{"JoinExpr":{"jointype":"JOIN_INNER","larg":{"RangeVar":{"relname":"useracct","inh":true,"relpersistence":"p","alias":{"aliasname":"u"},"location":24}},"rarg":{"RangeSubselect":{"subquery":{"SelectStmt":{"targetList":[{"ResTarget":{"val":{"ColumnRef":{"fields":[{"String":{"str":"cake_id"}}],"location":48}},"location":48}}],"fromClause":[{"RangeVar":{"relname":"cakes","inh":true,"relpersistence":"p","location":61}}],"limitOption":"LIMIT_OPTION_DEFAULT","op":"SETOP_NONE"}},"alias":{"aliasname":"cake"}}},"quals":{"A_Expr":{"kind":"AEXPR_OP","name":[{"String":{"str":"="}}],"lexpr":{"ColumnRef":{"fields":[{"String":{"str":"r"}},{"String":{"str":"cake_id"}}],"location":79}},"rexpr":{"ColumnRef":{"fields":[{"String":{"str":"cake"}},{"String":{"str":"cake_id"}}],"location":91}},"location":89}}}}],"limitOption":"LIMIT_OPTION_DEFAULT","op":"SETOP_NONE"}}}]}'

In [7]:
df.describe()

                                  0             1      2                    3
count                          1929          1918   1918                 1929
unique                         1304             2      7                   72
top     2022-02-20 20:47:38.897 UTC  project1user  BEGIN  execute S_1: COMMIT
freq                              3          1915    606                  602

In [12]:
df.groupby(3).count().sort_values(1)

                                                      0    1    2
3
aborting any active transactions                      1    0    0
listening on IPv4 address "127.0.0.1", port 5432      1    0    0
listening on Unix socket "/var/run/postgresql/....    1    0    0
received fast shutdown request                        1    0    0
starting PostgreSQL 14.2 (Ubuntu 14.2-1.pgdg18....    1    0    0
...                                                 ...  ...  ...
execute S_5: SELECT avg(rating) FROM review r W...   60   60   60
execute S_10: SELECT * FROM review r, item i WH...   66   66   66
execute S_3: UPDATE trust SET trust = $1 WHERE ...  114  114  114
execute S_2: BEGIN                                  589  589  589
execute S_1: COMMIT                                 602  602  602

[72 rows x 3 columns]

In [22]:
import pglast

In [23]:
from pglast import parse_sql

In [24]:
q = 'SELECT * FROM review r join marks m on m.disk = r.disk WHERE r.i_id=$1 ORDER BY creation_date DESC'

In [25]:
parse_sql(q)

(<RawStmt stmt=<SelectStmt targetList=(<ResTarget val=<ColumnRef fields=(<A_Star>,)>>,) fromClause=(<JoinExpr jointype=<JoinType.JOIN_INNER: 0> isNatural=False larg=<RangeVar relname='review' inh=True relpersistence='p' alias=<Alias aliasname='r'>> rarg=<RangeVar relname='marks' inh=True relpersistence='p' alias=<Alias aliasname='m'>> quals=<A_Expr kind=<A_Expr_Kind.AEXPR_OP: 0> name=(<String val='='>,) lexpr=<ColumnRef fields=(<String val='m'>, <String val='disk'>)> rexpr=<ColumnRef fields=(<String val='r'>, <String val='disk'>)>> rtindex=0>,) whereClause=<A_Expr kind=<A_Expr_Kind.AEXPR_OP: 0> name=(<String val='='>,) lexpr=<ColumnRef fields=(<String val='r'>, <String val='i_id'>)> rexpr=<ParamRef number=1>> sortClause=(<SortBy node=<ColumnRef fields=(<String val='creation_date'>,)> sortby_dir=<SortByDir.SORTBY_DESC: 2> sortby_nulls=<SortByNulls.SORTBY_NULLS_DEFAULT: 0>>,) limitOption=<LimitOption.LIMIT_OPTION_DEFAULT: 0> op=<SetOperation.SETOP_NONE: 0> all=False> stmt_location=0 stmt_len=0>,)

In [27]:
json.loads(pglast.parser.parse_sql_json('SELECT * FROM review r WHERE r.i_id=100 ORDER BY creation_date DESC'))

{'version': 130003,
 'stmts': [{'stmt': {'SelectStmt': {'targetList': [{'ResTarget': {'val': {'ColumnRef': {'fields': [{'A_Star': {}}],
          'location': 7}},
        'location': 7}}],
     'fromClause': [{'RangeVar': {'relname': 'review',
        'inh': True,
        'relpersistence': 'p',
        'alias': {'aliasname': 'r'},
        'location': 14}}],
     'whereClause': {'A_Expr': {'kind': 'AEXPR_OP',
       'name': [{'String': {'str': '='}}],
       'lexpr': {'ColumnRef': {'fields': [{'String': {'str': 'r'}},
          {'String': {'str': 'i_id'}}],
         'location': 29}},
       'rexpr': {'A_Const': {'val': {'Integer': {'ival': 100}},
         'location': 36}},
       'location': 35}},
     'sortClause': [{'SortBy': {'node': {'ColumnRef': {'fields': [{'String': {'str': 'creation_date'}}],
          'location': 49}},
        'sortby_dir': 'SORTBY_DESC',
        'sortby_nulls': 'SORTBY_NULLS_DEFAULT',
        'location': -1}}],
     'limitOption': 'LIMIT_OPTION_DEFAULT',
     'op': 'SETOP_NONE'}}}]}

In [45]:


pglast.parser.parse_sql_json('UPDATE review SET rating = $1 WHERE i_id=$2 AND u_id=$3')

'{"version":130003,"stmts":[{"stmt":{"UpdateStmt":{"relation":{"relname":"review","inh":true,"relpersistence":"p","location":7},"targetList":[{"ResTarget":{"name":"rating","val":{"ParamRef":{"number":1,"location":27}},"location":18}}],"whereClause":{"BoolExpr":{"boolop":"AND_EXPR","args":[{"A_Expr":{"kind":"AEXPR_OP","name":[{"String":{"str":"="}}],"lexpr":{"ColumnRef":{"fields":[{"String":{"str":"i_id"}}],"location":36}},"rexpr":{"ParamRef":{"number":2,"location":41}},"location":40}},{"A_Expr":{"kind":"AEXPR_OP","name":[{"String":{"str":"="}}],"lexpr":{"ColumnRef":{"fields":[{"String":{"str":"u_id"}}],"location":48}},"rexpr":{"ParamRef":{"number":3,"location":53}},"location":52}}],"location":44}}}}}]}'